<!DOCTYPE html>
<html>
  <head>
    <title>Wash||Laundry</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to AltCampus Laundry</h1>
    <p>Are you ready to clean your dirty clothes</p>
    <form action="/" method='POST'>
      Choose your slot
      <input type='date' name='date'>
      <input type="time" name='time'>
      <input type="submit" value="BOOK">
    </form>
    <a href="/login">Login</a><br>
    <a href="/logout">Logout</a>
  </body>
</html>
