<!DOCTYPE html>
<html>
  <head>
    <title>Wash||Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <% if(msg){ %>
      <p><%=msg%></p>
    <% } %>
    <h1>Welcome to AltCampus Laundry</h1>
    <p>You are supposed to login before booking</p>
    <form action="/login" method='POST'>
      <input type='email' name="email" placeholder='Enter Email'>
      <input type="password" name='password' placeholder="Enter Password">
      <input type="submit" value="Login">
    </form>
    <h2>Never Registered?</h2>
    <a href="/register">Register</a><br>
    <a href="/">Home</a>
  </body>
</html>