<!DOCTYPE html>
<html>
  <head>
    <title>Wash||Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to AltCampus Laundry</h1>
    <p>You still have a chance to register</p>
    <form action="/register" method='POST'>
      <input type="text" name="name" placeholder="Enter your name">
      <input type='email' name="email" placeholder='Enter Email'>
      <input type="password" name='password' placeholder="Enter Password">
      <input type="number" name="number" placeholder="number(please add +91)">
      <input type="submit" value="Register">
    </form>
    <h2>Already registered?</h2>
    <a href="/login">Login</a><br>
    <a href="/">Home</a>
  </body>
</html>